<h1>Programas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Foto</th>
      <th>Creado</th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.name %></td>
        <td><%= program.desc %></td>
        <td></td>
        <td><%= localize(program.created_at, :format => :long) %></td>
        <td><%= link_to 'Mostrar', program %></td>
        <td><%= link_to 'Editar', edit_program_path(program) %></td>
        <td><%= link_to 'Eliminar', program, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Programa', new_program_path %>
